<%- include('includes/head'); %>

<h1>Create a New Campground</h1>

<form action="/campgrounds" method="post">
  <input type="text" name="name" placeholder="Campground Name">
  <input type="text" name="image" placeholder="Image URL">
  <button>Submit</button>
</form>

<a href="/campgrounds">&lt;&lt; Back</a>

<%- include('includes/foot'); %>